.aaaa {
    color: red;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.breadcrumb {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding-right: 30px;
    .swap {
        position: absolute;
        right: 0;
        top: -5px;
        i {
            margin-left: 5px;
            &:hover {
                color: blue;
                cursor: pointer;
            }
        }
    }
}